h1 {
  margin: 0;
}

h2, h3 {
    margin: 5px;
    width: auto;
    text-decoration: underline;
    text-transform: uppercase;
}

.page {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0;
}

.header {
    background-color: #F6C555;
    width: auto;
    height: 10vh;
}

.side {
    float: left;
    width: 30%;
}

.search {
    background-color: #DCB879;
    height: 10vh;
    width: auto;
    padding: 10px;

}

.input {
    background-color: #FAD689;
    height: 30vh;
    width: auto;
    padding: 10px;

}

.output {
    width: auto;
    background-color: #DCB879;
    height: 50vh;
    padding: 10px;

}

.map {
    background-color: #DAC9A6;
    height: 90vh;
    float: right;
    width: 70%;
}
ul{
  padding: 0;
}
.locations{
  width: auto;
  padding: 3px 20px;
  background-color: rgba(255,255,255,0.4);
  color: #323232;
  list-style-type: none;
  font-size: 20px;
  text-align: left;
  margin: 5px 0;
}


.marker{
  margin: 0 auto;
  width: 300px;
  height: 100px;
  border: 1px solid red;
  padding: 0;
  display: inline-flex;
  background-color: rgba(255,255,255,0.6);
  justify-content: center;
}
.pin {
  width: 50px;
  height: 100px;
  background-image: url(components/img/drink.svg);
  background-repeat: no-repeat;
  left: 0;
}

.information{
  width: 250px;
  height: 100px;
  color: red;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  list-style-type: none;

}
